{{ define "navbar" }}
<nav class="flex justify-between items-center py-4">
    <div>   
        <a href="/" class="text-[#727D80] hover:text-gray-400 font-aileron">Home</a>
        <a href="/products/" class="text-[#727D80] hover:text-gray-400 font-aileron">Product</a>
        <a href="/cart/" class="relative text-[#727D80] hover:text-gray-400 font-aileron">
            <i class="fa fa-shopping-cart"></i> Cart
            <div id="cart-counter" class="absolute -top-3 -right-3 bg-red-500 text-white rounded-full text-xs w-5 h-5 flex items-center justify-center">
                {{ template "cartCounter" . }}
            </div>
        </a>
        </a>
    </div>
</nav>
{{ end }}

{{ block "cartCounter" . }}
{{ . }}
{{ end }}
