{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script>
        // register a listener for the htmx:afterRequest event to handle 422 responses (HTMX default behavior is to ignore them)
        htmx.on('htmx:afterRequest', function(event) {
            if (event.detail.xhr.status === 422) {
                const errorContainer = document.getElementById('error-container');
                errorContainer.innerHTML = event.detail.xhr.responseText;
            }
        });
    </script>
</head>
<body class="bg-[#142E36] p-4">

    {{ template "navbar" }}

    <form class="mt-4" hx-post="/contacts/" hx-target="#display" hx-swap="afterend" hx-on::after-request="if(event.detail.successful) this.reset()" hx-indicator="#error-container"> 
        <div class="mb-4">
            <label class="block text-gray-700">Name:</label>
            <input class="border rounded w-full py-2 px-3" type="text" name="name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Email:</label>
            <input class="border rounded w-full py-2 px-3" type="text" name="email">
        </div>
        <button class="bg-green-500 text-white px-4 py-2 rounded" type="submit">Add contact</button> 
    </form> 
    
    <div id="error-container" class="text-red-500 mt-4"></div>
    <div id="display" class="mt-4"> </div>
    
</body>
</html>
{{ end }}

{{ block "display" . }}
    {{ range . }}
        {{ template "user" . }}
    {{ end }}
{{ end }}

{{ block "user" . }}
<div id="user-{{ .Id }}" class="p-4 bg-white shadow rounded mb-4" hx-target="this" hx-swap="outerHTML">
    <div class="mb-2"> <label class="font-bold"> Name </label>: {{ .Username}}</div>
    <div class="mb-2"> <label class="font-bold"> Email </label>: {{ .Email}}</div>
    <button 
        class="bg-red-500 text-white px-4 py-2 rounded"
        hx-delete="/contacts/{{ .Id }}"
        hx-target="#user-{{ .Id }}" 
        hx-swap="outerHTML">
    Delete
    </button>
    <button class="bg-yellow-500 text-white px-4 py-2 rounded mt-2" hx-get="/contacts/{{.ID}}/edit">Click to edit</button>
    <hr class="mt-4">
</div>
{{ end }}

{{ block "error" . }}
<div id="error-message" class="error" style="color: red;">
    {{ . }}
</div>
{{ end }}

{{ block "editForm" . }}
<!-- Create a form to edit the contact within a mother div so that we can replace the form with the not updated/updated contact -->
<div id="edit-form-container" class="p-4 bg-white shadow rounded mb-4"> 
    <form hx-put="/contacts/{{ .Id }}" hx-target="#edit-form-container" hx-swap="outerHTML" class="space-y-4">
        <div>
            <label for="name" class="block text-gray-700">Name</label>
            <input type="text" name="name" value="{{ .Username }}" class="border rounded w-full py-2 px-3">
        </div>
        <div>
            <label for="email" class="block text-gray-700">Email</label>
            <input type="text" name="email" value="{{ .Email }}" class="border rounded w-full py-2 px-3">
        </div>
        <div class="flex space-x-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
            <button hx-get="/contacts/{{ .Id }}" hx-target="#edit-form-container" hx-swap="outerHTML" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
        </div>
    </form>
</div>
{{ end }}
