{{ block "productsPage" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <title>Products</title>
</head>
<body class="bg-[#142E36] p-4">
    {{ template "navbar" . }}
    {{ template "displayProducts" . }}
</body>
</html>
{{ end }}

{{ block "product" . }}
    <div class="border border-gray-300 p-4 rounded hover:bg-gray-100 cursor-pointer">
        <h2>{{ .Name }}</h2>
        <p>{{ .Desc }}</p>
        <p>{{ .Price }}</p>
        <button hx-post="/cart" hx-swap="outerHTML" hx-trigger="click" hx-target="#cart" hx-indicator=".loading">Add to Cart</button>
    </div>
{{ end }}

{{ block "displayProducts" . }}
    <!-- Display the products with 4 products per row and centered -->
    <div style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        {{ if . }}
            {{ range batch . 4 }}
            <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px; margin-bottom: 20px;">
                {{ range . }}
                    <div style="flex: 0 1 calc(25% - 20px); min-width: 200px; max-width: 250px;">
                        {{ template "product" . }}
                    </div>
                {{ end }}
            </div>
            {{ end }}
        {{ else }}
            <p>No products available.</p>
        {{ end }}
    </div>
{{ end }}