{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- add favicon  -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script>
        htmx.on('htmx:afterRequest', function(event) {
            if (event.detail.xhr.status === 422) {
                const errorContainer = document.getElementById('error-container');
                errorContainer.innerHTML = event.detail.xhr.responseText;
            }
        });
    </script>
</head>
<body>

    <button hx-target="#count" hx-post="/increment">Count</button>
    <div id="count">
        {{ template "count" . }}
    </div>

    <form hx-post="/contacts/" hx-target="#display" hx-swap="afterend" hx-on::after-request="if(event.detail.successful) this.reset()" hx-indicator="#error-container"> 
        name: <input type="text" name="name">
        email: <input type="text" name="email">
        <button type="submit">Add contact</button> 
    </form> 
    
    <div id="error-container"></div>
    <div id="display"> </div>
    
</body>
</html>
{{ end }}

{{ block "count" . }}
    {{ .Value }}
{{ end }}

{{ block "display" . }}
    {{ range . }}
        {{ template "user" . }}
    {{ end }}
{{ end }}

{{ block "user" . }}
<div id="user-{{ .ID }}" hx-target="this" hx-swap="outerHTML">
    <div> <label> Name </label>: {{ .Username}}</div>
    <div> <label> Email </label>: {{ .Email}}</div>
    <button 
        hx-delete="/contacts/{{ .ID }}"
        hx-target="#user-{{ .ID }}" 
        hx-swap="outerHTML">
    Delete
    </button>
    <button hx-get="/contacts/{{.ID}}/edit">Click to edit</button>
    <hr>
</div>
{{ end }}

{{ block "error" . }}
<div id="error-message" class="error" style="color: red;">
    {{ . }}
</div>
{{ end }}


{{ block "editForm" . }}
<!-- Create a form to edit the contact within a mother div so that we can replace the form with the not updated/updated contact -->
<div id="edit-form-container"> 
    <form hx-put="/contacts/{{ .ID }}" hx-target="#edit-form-container" hx-swap="outerHTML">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="{{ .Username }}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{ .Email }}">
        </div>
        <button type="submit">Submit</button>
        <button hx-get="/contacts/{{ .ID }}" hx-target="#edit-form-container" hx-swap="outerHTML">Cancel</button>
    </form>
</div>
{{ end }}
